.nav {
  .header & {
    display: table;
    height: 120px;
    float: right;

    .nav_link {
      @extend %vertical-center;
      @extend .epsilon;
      padding-left: 30px;
      color: $color-grey;
    } // nav_link

    @include breakpoint(min-width 700px) {
      margin: 0 auto;
      float: none;
      height: 80px;
    }

  }// --main

  .footer & {
    height: 1.7em;
    @include even-distribution--wrapper;

    .nav_link {
      @include even-distribution--item;
      color: inherit;
    }
  }// --footer

  &_link a, {
    font-family: $font-headings_thin;
    text-decoration: none;
    line-height: 1;
    display: block;
    @include transition(color 0.5s ease-in);

    &:hover {
      color: black;
    }
  } // nav_link

}// nav
