.slider {
  &--wrapper {
  @extend .center;
  position: relative;
  width: 100%;
  height: 550px;
  overflow: hidden;
}

  &--item {
  position:relative;
  width: 100vw;
  display: table;
  float: left;
  clear: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  // Automagically Set up a class name for each
  @each $slider in $sliders {
    &.#{$slider} {
      background-image: url(../img/sliders/sliders__#{$slider}.jpg);
    } // @each

    .slider__index &{
      height: $slider-height__index;
    }// __index
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    min-width: 1000px;
  }
}// slider--item

  &--text{
    @extend %vertical-center;
    padding: 0 3em;
    z-index: 1;
    position: relative;

    h2 {
      padding: 0.2em 1em;
      color: white;
      font-size: 2em;
      text-align: center;
      background: rgba(255, 255, 255, 0.3);
  
      @include breakpoint(min-width 1300px){
        font-size: 2.5em;
      }

      // the wysiwyg inserts a <p>
      p {
        margin: 0;
        padding: 0;
      }


    }
  
  } // --text

} // slider


// The <ul> needed by glide.js
.slides {
  // height: 100%;
  padding: 0;
  margin: 0;

  /* Simple clear fix */
  overflow: hidden;

  /**
   * Here is CSS transitions
   * responsible for slider animation in modern broswers
   */
  // -webkit-transition: all 600ms easeOut; // Older webkit (if i use cubic-bezier with ranges that are out of value)
  @include transition($slider-transition);
}


.slider-arrows {

}

.slider-arrow {
  position: absolute;
  display: block;
  bottom: 4%;
}

.slider-arrow--right {
  right: 10px;
}

.slider-arrow--left {
  left: 10px;
}


.slider-nav {
  position: absolute;
  bottom: 20px;
  @include opacity(0.5);
}

.slider-nav__item {
  width: 12px;
  height: 12px;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  background: $color-secondary;
  @include border-radius(50%);
}

.slider-nav__item:hover,
.slider-nav__item--current {
  background: $color-primary;
}

