.stylised-form {
	padding: 2em;
	text-align: center;

	.form-title {
		color: $color-text;
	}
	.input,
	.textarea,
	.label{
		width: 80%;
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
	}

	.input,
	.textarea {
		@include border-radius(3px);

		display: block;
		padding: 0.3em;
		font-size: 14px;
		font-weight: 200;
		border: 1px solid #b9b9b9;

		&:focus {
			outline-offset: -2px;
			outline: $color-secondary auto 5px;
		}

	}
	.textarea {
		min-height: 200px;
	}

	.label {
		display: block;
		font-family: $font-headings;
	}

	.submit {
		width: 50%;
		min-width: 200px;
		margin: 1em auto 0;
		padding: 0.8em 0.4em;
		font-family: $font-headings;
		font-size: 1.1em;
	}

}// form
