	/* ---------------- */
/* 	Import fonts	*/
/* ---------------- */

@include font-face('Raleway-SemiBold', 'http://kainavconservation.co.za/fonts/');
@include font-face('Raleway-Thin', 'http://kainavconservation.co.za/fonts/');
@include font-face('OpenSans-Regular', 'http://kainavconservation.co.za/fonts/');
@include font-face('OpenSans-Light', 'http://kainavconservation.co.za/fonts/');
@include font-face($font-icons, 'http://kainavconservation.co.za/fonts/');


/* ---------------- */
/* 	  Set styles	*/
/* ---------------- */

body {
	margin: 0;
	padding: 0;
	font-family: $font-body;
	text-align: left;
	text-rendering: optimizeLegibility;
	letter-spacing: 0.05em;
}// body


h1,
h2,
h3
h4,
h5,
h6 {
	font-family: $font-headings;
	font-style: normal;
	text-align: center;

	small {
	  font-size: 80%;
	  color: lighten($color-text, 30%);
	  line-height: 0;
	}
	&.heading__section {
		margin-top: 0.5em;
		margin-bottom: 1em;
	}
}


// h3, h4, h5, h6 {
// 	color: lighten($color-text, 10%);
// 	margin-bottom: 1.2em;
// }

// There might be a better way to write this- but it works
h1+h2, h2+h3, h3+h4 h4+h5, h5+h6{
	margin-top: 0;
}

.text__center {
	text-align: center;
}

//I've broken it into two parts
//so as to reduce the specificity of the rule
a {
	color: $color-text;
}
a:visited {
	color: $color-text;
}
a:hover {
	text-decoration: none;
}

.lead {
	font-size: 19.2px;
	font-size: 1.2rem;
	font-family: $font-headings_thin;
	@include text-shadow(0 0 0 #000);
}

