*~
.DS_Store
delete
node_modules
*.project-workspace
*.sublime-workspace
sftp-config.json
old/*

# Some laravel config files
*/database.php
/dist/config
/vendor
/bootstrap/compiled.php
composer.phar
composer.lock
.env.local.php
.env.php
