.nav {
	@at-root {
		.header #{&} {
			margin-top: 20px;
			/* display: table;
			height: 150px;
			float: right; */

			span {
				// @extend %vertical-center;
				padding-left: 30px;
			}

			.nav_link {
				@extend .delta;
				color: $color-grey;

				&:hover {
					color: black;
					border-bottom: 1px solid black;
				}
			} // nav_link

			@include breakpoint(max-width 1185px) {
				margin: 0 auto;
				float: none;
				height: 80px;
			}

		}// --main

		.footer #{&} {
			height: 1.7em;
			@include even-distribution--wrapper;

			.nav_link {
				@include even-distribution--item;
				color: inherit;

				&:hover {
					color: black;
				}
			}
		}// --footer

		#{&}_link {
			font-family: $font-headings_thin;
			text-decoration: none;
			@include transition(color 0.2s ease-in);
		} // nav_link

	}// @root
}// nav
