$font-body: 					"OpenSans-Light" , "Helvetica", arial, sans-serif;
$font-headings: 			"Raleway-SemiBold", "Helvetica Neue", "Helvetica", sans-serif;
$font-headings_thin: 	"Raleway-Thin", "Helvetica Neue", "Helvetica", sans-serif;
$font-icons: 					"icons";