$font-body: 					"Arial", arial, sans-serif;
$font-headings: 			"Raleway-SemiBold", "Helvetica Neue", "Helvetica", sans-serif;
$font-headings_bold: 	"Raleway-Bold", "Helvetica Neue", "Helvetica", sans-serif;
$font-headings_thin: 	"Raleway-Thin", "Helvetica Neue", "Helvetica", sans-serif;
$font-icons: 					"FontAwesome";