@mixin center {
	float: none;
	margin-right: auto;
	margin-left: auto;
  display: block;
}

.center {@include center}

.clearfix {
	&:after{
		content:"";
		display:table;
		clear:both;
	}
}

.screenreader {
	font: #{0/0} a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

%maxWidth {
	max-width: 1400px;

	@include breakpoint(1400px){
		@include center;
	}
}

%vertical-center {
  @include vertical-center;
}
