.button {
	@include transition(background-color 0.3s ease-in);
    text-decoration: none;

      &__pill {
          @include sassy-button-structure(4px, 1.2em, 0.2em 0.8em);
          @include sassy-button-gradient('flat', $color-grey, $color-grey, white, 'none');
      }
}
