.stylised-form {
  @extend .center;
  @include border-radius(6px);
  @include box-shadow(inset 0 0 0 4px #d2d2d2, inset 0 0 3px 6px #c9c9c9);

  padding: 2em;
  background-color: $color-grey_lighter;
  text-shadow: 1px 1px 0 $color-grey_Xlight;


  .input,
  .textarea,
  .label,
  .submit {
    width: 80%;
    margin-left: 10%;
  }

  .input,
  .textarea {
    @include border-radius(3px);

    display: block;
    padding: 0.3em;
    font-size: 14px;
    font-weight: 200;
    border: 1px solid #b9b9b9;

    &:focus {
      outline-offset: -2px;
      outline: $color-secondary auto 5px;
    }

  }
  .textarea {
    min-height: 200px;
  }

  .label {
    padding-bottom: 1em;
    font-family: $font-headings;
  }

  .error {
    color: $color-alert !important;
  }

  .submit {
    margin-top: 1.6em;
    padding: 0.8em 0.4em;
    font-family: $font-headings;
    font-size: 1.1em;
  }

}// form
