//general icons style
.icon {
	@include icon;
}


// Icon list (corresponds to icon font characters)
// Note associative arrays will be easier in Sass version 3.3: https://github.com/nex3/sass/issues/642
$icons: (
    'paperplane' '\e001',
    '' ''
);

// Automagically Set up a class name for each icon
@each $icon in $icons {
    $name: nth($icon, 1);
    .icon_#{$name} {
        @include icon('before', false, $name);
    }
}
