body * {
	zoom: 1;
	@include box-sizing(border-box);
}

// to wrap all grid objects
//to give all rows a bit of spacing
section,
.section {
	@extend .clearfix;
}

section {
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.grid {
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 2em;
}

.grid__item {
  .grid__item {
    margin-left: -$gutter;
  }
  .lt-ie8 & {
      padding-left: 0.8%;
  }
}

span.maxWidth{
	@extend %maxWidth;
	@extend .clearfix;
	padding: 20px;
	display: block;
}

// apply this to a grid__item
.extra-padding {
	padding-left: 30px !important;
	padding-right: 30px !important;

}

.vertical-center {
  display: table;
  .vertical-center__item {
    @extend %vertical-center;
  }
}

//these are little margin-top magic number hacks
.mt1	{margin-top: 1px;}
.mt2	{margin-top: 2px;}
.mt3	{margin-top: 3px;}
.mt4	{margin-top: 4px;}
.mt5	{margin-top: 5px;}
.mt6	{margin-top: 6px;}
.mt7	{margin-top: 7px;}
.mt8	{margin-top: 8px;}
.mt9	{margin-top: 9px;}
.mt10	{margin-top: 10px;}
.mt15	{margin-top: 15px;}
.mt20	{margin-top: 20px;}
.mt30	{margin-top: 30px;}
.mt40	{margin-top: 40px;}
.mt50	{margin-top: 50px;}
.mt75	{margin-top: 75px;}
.mt100	{margin-top: 100px;}
.mt150	{margin-top: 150px;}
.mt200	{margin-top: 200px;}
