/* ---------------- */
/* 	Import fonts	*/
/* ---------------- */

@include font-face('Raleway-SemiBold');
@include font-face('Raleway-Thin');
@include font-face('OpenSans-Regular');
@include font-face('OpenSans-Light');
@include font-face($font-icons);


/* ---------------- */
/* 	  Set styles	*/
/* ---------------- */

body {
  margin: 0;
  padding: 0;
  font-family: $font-body;
  text-align: left;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.05em;
}// body


body h1  {
  margin: 0.5em 0 1em;
  text-align: center;
  color: $color-grey_dark;
}


h1,
h2,
h3
h4,
h5,
h6 {
  display: block;
  font-family: $font-headings;
  font-style: normal;
  text-align: left;

  small {
    font-size: 80%;
    color: lighten($color-text, 30%);
    line-height: 0;
  }
  &.heading__section {
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
}


// h3, h4, h5, h6 {
// 	color: lighten($color-text, 10%);
// 	margin-bottom: 1.2em;
// }

// There might be a better way to write this- but it works
h1+h2, h2+h3, h3+h4 h4+h5, h5+h6{
  margin-top: 0;
}

.text__center {
  text-align: center;
}.text__left {
  text-align: left;
}.text__right {
  text-align: right;
}

//I've broken it into two parts
//so as to reduce the specificity of the rule
a {
  color: $color-text;
}
a:visited {
  color: $color-text;
}
a:hover {
  text-decoration: none;
}

